*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 100%;
    background-image: url("../Hackathon/images/h1_hero.png");
    background-size: cover;
}
.header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.header ul{
    width: 800px;
    /* border: 1px solid black; */
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.header ul li{
    list-style: none;
}

.orderbtn{
     padding: 16px 30px;
    border-radius: 5px;
    color: orangered;
    background-color: white;
    border: 2px solid orangered;
    font-size: 15px;
}
.hero{
    max-width: 800px;
    /* height: 200px; */
    /* border:1px solid black; */
    margin:40px 50px ;
    padding: 50px 30px;
}
.heading{
    color: orangered;
}
.hero h1{
    font-size: 50px;
}
.tagline{
    color:black;
    font-size: 25px;
}
.hero-btn{
     padding: 16px 30px;
    border-radius: 5px;
    color: white;
    background-color: orangered;
    border: none;
    font-size: 15px;
}

.cont2{
    width: 100%;
    /* height: 400px; */
    /* border:1px solid black; */
    margin: 100px 0px;
    padding: 10px 50px;
    display: flex;
}

.cont2-left{
    width: 60%;
    /* height: 360px; */
    /* border:1px solid blue; */
    padding: 70px 40px;
}
.cont2-right{
    width: 40%;
    /* height: 360px;  */
    /* border:1px solid rgb(145, 9, 68); */
}
.cont2-tagline{
    color:orange;
    font-weight: 600;
    font-size: 30px;
}
.cont2-left h1{
    font-size: 50px;
}

.cont2-left-p{
    color:rgba(0, 0, 0, 0.925);
    font-size: 20px;
}
.feat-gallery{
    /* border:1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feat1{
    width: 48%;
    background-color: rgba(211, 211, 211, 0.589);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}
.feat1 div i{
    font-size: 60px;
}

.cont2-right img{
    width: 100%;
}
@media (max-width:768px) {

    .header ul{
        width: 300px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
       
    }

    .header ul li{
        padding: 7px;
    }

    .container{
        width: 100%;
        height: 80%;
        background-image: url("../Hackathon/images/h1_hero.png");
        background-position: center;
        background-size: cover;
    }
    .hero{
        margin-top: 60px;
    }

    .cont2{

        flex-direction: column;

    }

    .cont2-left{
        width: 100%;
        padding:50px 20px ;
    }

    .cont2-left h1{
    font-size: 40px;
}

    .cont2-left-p{

        font-size:18px ;

    }
    .cont2-right{
        width: 100%;
    }
}

@media (max-width:550px) {


    .container{
        width: 100%;
        height: 100%;
        background-image: url("../Hackathon/images/h1_hero.png");
        background-position: center;
        background-size: cover;
    }
    .hero{
        padding: 30px 10px;
    }
    .hero h1{
        font-size: 28px;
    }
    .tagline{
        font-size: 18px;
    }

    .cont2-tagline{
        font-size: 25px;
    }
    .cont2-left{
        padding: 50px 10px;
    }
    .cont2-left h1{
    font-size: 30px;
   }
   .cont2-left-p{

        font-size:16px ;

    }
    .feat-gallery{
    /* border:1px solid red; */
    flex-direction: column;
    
   }
   .feat1{
    width: 100%;
   }
}