*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 100%;
    background-image: url("images/h1_hero.png");
    background-size: cover;
}
.header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .nav-links{
    width: 600px;
    /* border: 1px solid black; */
     display: flex;
     gap:60px;
     align-items: center;
}
.header .nav-links li{
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}

.orderbtn{
     padding: 16px 30px;
    border-radius: 5px;
    color: orangered;
    background-color: white;
    border: 2px solid orangered;
    font-size: 15px;
}
.hamburger{
   display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;

}

.hamburger span{
    width: 25px;
    height: 3px;
    background: #333;
}
.hero{
    max-width: 800px;
    /* height: 200px; */
    /* border:1px solid black; */
    margin:40px 50px ;
    padding: 50px 30px;
}
.heading{
    color: orangered;
}
.hero h1{
    font-size: 50px;
}
.tagline{
    color:black;
    font-size: 25px;
}
.hero-btn{
     padding: 16px 30px;
    border-radius: 5px;
    color: white;
    background-color: orangered;
    border: none;
    font-size: 15px;
}

.cont2{
    width: 100%;
    /* height: 400px; */
    /* border:1px solid black; */
    margin: 100px 0px;
    padding: 10px 50px;
    display: flex;
}

.cont2-left{
    width: 60%;
    /* height: 360px; */
    /* border:1px solid blue; */
    padding: 70px 40px;
}
.cont2-right{
    width: 40%;
    /* height: 360px;  */
    /* border:1px solid rgb(145, 9, 68); */
}
.cont2-tagline{
    color:orange;
    font-weight: 600;
    font-size: 30px;
}
.cont2-left h1{
    font-size: 50px;
}

.cont2-left-p{
    color:rgba(0, 0, 0, 0.925);
    font-size: 20px;
}
.feat-gallery{
    /* border:1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feat1{
    width: 48%;
    background-color: rgba(211, 211, 211, 0.589);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}
.feat1 div i{
    font-size: 60px;
}

.cont2-right img{
    width: 100%;
}

.cont3{
    width: 100%;
    height: 660px;
    padding: 10px 50px;
    display: flex;
    
}
.cont3-left{
    width: 40%;
     /* height: 630px;  */
    /* border:1px solid red; */
    
}
.cont3-left img{
    width: 100%;
    height: 100%;
   
}
.cont3-right{
    width: 60%;
    /* height: 300px; */
    /* border:1px solid chartreuse; */
    padding-top:80px ;
    padding-left: 60px;
}

.cont3-right .cont3-abt{
    font-weight:600 ;
    color: orange;
}

.cont3-head{
    color: rgba(0, 0, 0, 0.864);
    font-size: 60px;
}
.cont3-btn{
     background-color: rgba(211, 211, 211, 0.459);
    border: 1px solid orangered;
    padding: 16px 40px;
    border-radius: 5px;
    color: grey;
}

.cont4{
    width: 100%;
    height: 500px;
    margin-top: 200px;
    background-image: url("images/about2.png");
    background-size: cover;
    padding: 100px 0px;
}

.cont4-top{
    width: 500px;
    /* border:1px solid black; */
    margin: 50px auto;
    text-align: center;
}

.cont4-top p{
    font-size: 18px;
    color: orange;
    font-weight: 600;
}
.cont4-top h1{
    font-size: 50px;
}

.booking{
    max-width: 1000px;
    height: 150px;
    background-color: white;
    border-radius: 7px;
    margin: 50px auto;
     padding: 50px 50px;
     box-shadow: 0px 8px 8px 0px lightgrey;
 
  
}
 .multiple-entry{
    display: flex;
    justify-content: space-around;
   
} 
.first-entry{
     width: 200px;
    background-color: rgba(211, 211, 211, 0.514);
    padding: 15px;
    border-radius: 7px;
    

}

.first-entry select{
    background-color: transparent;
    border: none;
    width: 130px;
}

.sec-entry{
    width: 200px;
    background-color: rgba(211, 211, 211, 0.514);
    padding: 15px;
    border-radius: 7px;
}

.sec-entry input{
    background-color: transparent;
    border: none;
    width: 130px;
}

.third-entry{
     width: 200px;
    background-color: rgba(211, 211, 211, 0.514);
    padding: 15px;
    border-radius: 7px;

}
.third-entry input{
     background-color: transparent;
    border: none;
    width: 130px;
}

.booking-btn{
     background-color: orangered;
    border: none;
    padding: 16px 70px;
    border-radius: 5px;
    color: white;
}

.cont5{
    width: 100%;
    height: 400px;
    /* border:1px solid black;  */
    margin-top: 100px;
    
}

.cont5-content{
    text-align: center;
}
.cont5-content p{
    color: orange;
    font-size: 20px;
}
.cont5-gallery{
    max-width: 900px;
    /* height: 200px; */
    margin: 50px auto;
    /* border:1px solid black;  */
    display: flex;
    justify-content: space-between;
}
.cont5-card1{
    width: 280px;
    height: 280px;
    padding: 40px 20px;
    text-align: center;
    /* border: 1px solid black;  */
}
.cont5-card1:hover{
    box-shadow: 0px 8px 8px 0px lightgray;
    border-radius: 7px;
}
.cont6{
    width: 100%;
    height: 500px;
    background-image: url("images/sabout3.png");
    background-size: cover;
    margin-top: 100px;
    /* border:1px solid blue; */
}
.content{
    width: 600px;
    height: 400px;
    /* border:1px solid black;  */
    position: relative;
    top: 100px;
    left:850px
}
.Email{
    width: 450px; border: none; background-color: transparent;
     background-color: rgba(211, 211, 211, 0.242); padding: 17px;
}
.cont6-btn{
     padding: 16px 30px;
   
    color: white;
    background-color: orangered;
    border: none;
    font-size: 15px;
}
.cont6-head1{
    font-size:19px ;
    color: orangered;
}
.content h1{
    font-size: 45px;
}
.cont6-head{
    font-size: 20px;
}

.footer{
    width: 100%;
    height: 100px;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.818);
    color: white;
    padding: 20px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.social-links{
    display: flex;
    /* border:1px solid white; */
}
@media (max-width:768px) {

     .header{
        width: 100%;
    }
    .header .nav-links{
        display: none;
        width: 250px;
        /* height: 250px; */
        background: #333;
        flex-direction: column;
        gap:10;
        position: absolute;
        top:75px;
        right:0;
        padding: 10px;
        align-items: center;
        z-index: 1;
        border-radius: 5px;
        color: white;
        transition: 2s ease-in;
        margin: 10px;
    }
    
   .nav-links.show{
    display: flex;
   }
   .hamburger{
    display: flex;
   }

    .container{
        width: 100%;
        height: 70%;
        background-image: url("images/h1_hero.png");
        background-position: center;
        background-size: cover;
    }
    .hero{
        margin: 100px 10px;
        /* border:1px solid black; */
     
    }

    .cont2{

        flex-direction: column;
        padding: 10px 10px;


    }

    .cont2-left{
        width: 100%;
        padding:50px 6px ;
        /* border:1px solid black; */
    }

    .cont2-left h1{
    font-size: 40px;
}

    .cont2-left-p{

        font-size:18px ;

    }
    .cont2-right{
        width: 100%;
        padding: 0px 10px;
    }

    .cont3{
       flex-direction: column;
       padding: 10px 10px;
    }
    .cont3-left{
        width: 100%;
        padding: 10px;
        
    }
    .cont3-right{
        width: 100%;
       
    padding: 70px 10px;
    }
    .cont3-head{
   
    font-size: 30px;
}

    .cont4{
    width: 100%;
   height: 500px;
    margin-top: 850px;
    background-image: url("images/about2.png");
    background-size: cover;
     padding: 20px 0px; 
}

   .cont4-top p{
    font-size: 15px;
    color: orangered;
    font-weight: 600;
    
}
.cont4-top h1{
    font-size: 40px;
}

.booking{
    width: 600px;
    height: 300px;
    background-color: white;
    border-radius: 7px;
    margin: 50px auto;
     padding: 30px 10px;
 
  
}
 .multiple-entry{
    flex-direction: column;
    padding: 10px 10px;
   
} 
.first-entry{
     width: 550px;
    background-color: rgba(211, 211, 211, 0.514);
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 15px;

}
.first-entry select{
    
    width: 500px;
}

.sec-entry{
    width: 550px;
    background-color: rgba(211, 211, 211, 0.514);
    padding: 10px;
    border-radius: 7px;
     margin-bottom: 15px;

}

.sec-entry input{
   
    width: 500px;
}

.third-entry{
     width: 550px;
    background-color: rgba(211, 211, 211, 0.514);
    padding: 10px;
    border-radius: 7px;
     margin-bottom: 15px;

}
.third-entry input{
    
    width: 500px;
}
.cont4-btn{
    width: 550px;
    /* border:1px solid black; */
}
.booking-btn{
    width: 550px;
    margin-bottom: 15px;
     padding: 15px 150px;
     font-size: 15px;
}
.cont5{
    margin-top: 50px;
    width: 100%;
    height: 900px;margin-top: 100px;
    
}

.cont5-gallery{
       flex-direction: column;
}
.cont5-card1{

    width: 90%;

}

     .cont6{
    width: 100%;
     height: 500px; 
    padding: 20px;
    background-position: left;
    margin-top: 100px;
}

   .content{
    width: 700px;
     height: 450px; 
    left:0;
    top:30px;
   }
   .Email{
    width: 700px;
    background-color: white;
    margin-bottom: 15px;
   }

   .content h1{
    font-size: 40px;
}
.cont6-head{
    font-size: 18px;
    color: black;
}


 .cont6-btn{
    width: 700px;
}

.footer{
    flex-direction: column;
}

}

@media (max-width:550px) {

    
    .header{
        width: 100%;
    }
    .header .nav-links{
        display: none;
        width: 180px;
        /* height: 250px; */
        background: #333;
        flex-direction: column;
        gap:10;
        position: absolute;
        top:75px;
        right:0;
        padding: 10px;
        align-items: center;
        z-index: 1;
        border-radius: 5px;
        color: white;
        transition: 2s ease-in;
        margin: 10px;
    }
    
   .nav-links.show{
    display: flex;
   }
   .hamburger{
    display: flex;
   }
    .container{
        width: 100%;
        height: 90%;
        background-image: url("images/h1_hero.png");
        background-position: center;
        background-size: cover;
    }
  


   
    .hero{
        padding: 30px 10px;
    }
    .hero h1{
        font-size: 28px;
    }
    .heading{
    color: orange;
    font-weight: 600;
    font-size: 20px;
}
    .tagline{
        font-size: 18px;
    }
    .cont2{
        margin: 12px 0px;
    }

    .cont2-tagline{
        font-size: 25px;
    }
    .cont2-left{
        padding: 50px 10px;
    }
    .cont2-left h1{
    font-size: 30px;
   }
   .cont2-left-p{

        font-size:16px ;

    }
    .feat-gallery{
    /* border:1px solid red; */
    flex-direction: column;
    
   }
   .feat1{
    width: 100%;
   }
   .feat1 div i{
    font-size: 50px;
}

.cont3{
    margin-top: 180px;
}

.cont3-right .cont3-abt{
    
    color: orange;
    font-size: 18px;
}

   .cont3-right p{
    font-size: 16px;
   }

   .cont3-right{
    margin-bottom: 100px;
   }


   .cont4{
    width: 100%;
   /* height: 500px; */
    margin-top: 500px;
    background-image: url("images/about2.png");
    background-size: cover;
      padding: 30px 0px;  
}
.cont4-top{
    width: 200px;
     /* border:1px solid black;  */
    /* margin: 0px auto;
    text-align: center; */
}
    .cont4-top h1{
    font-size: 30px;
}
.booking{
    width: 350px;
}
.first-entry{
     width: 300px;
   
    

}

.first-entry select{
    
    width: 250px;
}

    


.sec-entry{
    width: 300px;

}

.sec-entry input{
    
    width: 250px;
}

.third-entry{
     width: 300px;
  
}
.third-entry input{
     
    width: 250px;
}

.cont4-btn{
    width: 300px;
     /* border:1px solid black;  */
}
.booking-btn{
    width: 300px;
    margin-bottom: 15px;
     padding: 15px 100px;
     /* font-size: 15px; */
}

.cont5{
    width: 100%;
    height: 700px;
    margin-top: 80px;
}
.cont5-gallery{
       flex-direction: column;
}
.cont5-card1{

    width: 100%;

}
.cont6{
    width: 100%;
    height: 500px;
    padding: 20px;
    background-position: left;
    margin-top: 300px;
}

   .content{
    width: 330px;
    height: 500px;
    left:0;
    top:30px;
   }
   .Email{
    width: 320px;
    background-color: white;
    margin-bottom: 15px;
   }

   .content h1{
    font-size: 30px;
}
.cont6-head{
    font-size: 18px;
    color: black;
}


 .cont6-btn{
    width: 320px;
}


.footer{
    width: 100%;
    height: 150px;
   
    background-color: rgba(0, 0, 0, 0.818);
    color: white;
    padding: 20px;
    flex-direction: column;
    
}

.social-links{
    width: 330px;
    padding: 10px;
    /* border:1px solid white; */
}

   
}